.head-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 0;
  border-bottom: 1px solid #D8DCE3;
}
.head-panel .brand {
  text-decoration: none;
}
.head-panel .brand > h2, .head-panel .brand h3, .head-panel .brand h4 {
  margin-bottom: 0;
}
.head-panel > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
}
.head-panel > .container > h4 {
  margin-bottom: 0;
}
.head-panel .nav-link {
  padding-bottom: 0;
  padding-top: 0;
}
.head-panel.dark {
  background-color: #343a40;
  border-bottom: 1px solid #212529;
}
.head-panel.dark .brand {
  color: #D8DCE3;
}
.head-panel.dark .nav-link {
  color: #D8DCE3;
}
.head-panel.dark .nav-link:hover {
  background-color: #292d32;
  color: #fff;
}
.head-panel.light {
  background-color: #fff;
}
.head-panel.light .nav-link:hover {
  background-color: #f3f4f6;
}
.head-panel .navbar-toggler {
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 500;
  font-size: 18px;
  color: #585c64;
}
@media (min-width: 992px) {
  .head-panel .navbar-toggler {
    display: none;
  }
}
.head-panel .menu-right {
  font-size: 14px;
  display: none;
}
@media (min-width: 992px) {
  .head-panel .menu-right {
    display: flex;
    align-items: center;
  }
}
.head-panel .menu-head {
  display: none;
}

.right-panel {
  position: fixed;
  width: 240px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  border-left: 1px solid #D8DCE3;
  overflow-y: auto;
  padding: 90px 25px 25px;
  -webkit-transform: translateX(240px);
  transform: translateX(240px);
}
.right-panel .menu-right {
  display: block !important;
  padding-bottom: 25px;
}
.right-panel .menu-right .menu-head {
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}
.right-panel .menu-right .menu-head > h4 {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .right-panel .menu-right .menu-head {
    display: none;
  }
}
.right-panel .menu-right .nav-link {
  padding-left: 0;
}
.right-panel .menu-right .btn {
  display: block;
}
.right-panel .menu-right .btn > span {
  display: inline-block !important;
}
.right-panel .dropdown > .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-panel .dropdown-menu {
  position: static;
  display: none !important;
  border: 0;
}
.right-panel .dropdown.show .dropdown-menu {
  display: block !important;
}
.right-panel.dark {
  background-color: #2d3238;
  border-left: 0;
}
.right-panel.dark .menu-head,
.right-panel.dark .nav-link {
  color: #D8DCE3;
}
.right-panel.dark .dropdown-menu {
  background-color: transparent !important;
}

.head-panel,
.right-panel {
  transition: all 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .head-panel,
.right-panel {
    transition: none;
  }
}

@media (max-width: 991.98px) {
  .main-panel {
    transition: all 0.2s ease-in-out;
  }
}
@media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
  .main-panel {
    transition: none;
  }
}
@media (max-width: 991.98px) {
  .show-right-menu {
    overflow: hidden;
  }
  .show-right-menu .head-panel,
.show-right-menu .main-panel {
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px);
  }
  .show-right-menu .right-panel {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
  }
}
@media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
  .show-right-menu .right-panel {
    transition: none;
  }
}

/*# sourceMappingURL=main.css.map */
