@import "../../../../../vendor/npm-asset/bootstrap/scss/functions";
@import "../../../../../vendor/npm-asset/bootstrap/scss/variables";
@import "../../../../../vendor/npm-asset/bootstrap/scss/mixins";

@import "mixins";
@import "variables";

.head-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 0;

  border-bottom: 1px solid $gray-lighter;

  .brand {
    text-decoration: none;
    > h2, h3, h4 {
      margin-bottom: 0;
    }
  }

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $head-panel-height;
    line-height: $head-panel-height;
    > h4 {
      margin-bottom: 0;
    }
  }

  .nav-link {
    padding-bottom: 0;
    padding-top: 0;
  }

  &.dark {
    background-color: $gray-800;
    border-bottom: 1px solid $gray-900;
    .brand {
      color: $gray-lighter;
    }
    .nav-link {
      color: $gray-lighter;
      &:hover {
        background-color: darken($gray-800, 5%);
        color: $white;
      }
    }
  }

  &.light {
    background-color: #fff;
    .nav-link:hover {
      background-color: lighten($gray-lighter, 9%);
    }
  }

  .navbar-toggler {
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 500;
    font-size: 18px;
    color: $gray;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .menu-right {
    font-size: 14px;
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }
    @include media-breakpoint-down(lmd) {
      display: none;
    }
  }

  .menu-head {
    display: none;
  }
}

.right-panel {
  position: fixed;
  width: 240px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  border-left: 1px solid $gray-lighter;
  overflow-y: auto;
  padding: 90px 25px 25px;
  @include transform(translateX(240px));

  .menu-right {
    display: block !important;
    padding-bottom: 25px;

    .menu-head {
      -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.07);
      box-shadow: 0 1px 0 rgba(0,0,0,0.07);

      height: $head-panel-height;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;

      padding-left: 25px;
      padding-right: 25px;

      > h4 {
        margin-bottom: 0;
      }

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .nav-link { padding-left: 0; }

    .btn {
      display: block;
      > span { display: inline-block !important; }
    }
  }

  .dropdown > .nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-menu {
    position: static;
    display: none !important;
    border: 0;
  }

  .dropdown.show {
    .dropdown-menu { display: block !important; }
  }

  // dark version
  &.dark {
    //background-color: darken($brand-inverse, 5%);
    background-color: darken($gray-800, 3%);
    //border-bottom: 1px solid $gray-900;

    border-left: 0;
    .menu-head,
    .nav-link {
      color: $gray-lighter;
    }
    .dropdown-menu { background-color: transparent !important; }
  }
}

.head-panel,
.right-panel {
  @include transition($transition-base);
}

@include media-breakpoint-down(md) {
  .main-panel {
    @include transition($transition-base);
  }
  .show-right-menu {
    overflow: hidden;

    .head-panel,
    .main-panel {
      @include transform(translateX(-240px));
    }

    .right-panel {
      @include transform(translateX(0));
      @include transition($transition-base);
    }
  }
}
