

.cart-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  .cart-widget-label {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: $gray-dark;
  }
  .item-count {
    color: $color-pink;
    font-size: 13px;
    font-weight: 600;
    background-color: $gray-lighter;
    border-radius: 5px;
    padding: 3px 5px;
    display: inline-block;
    text-align: center;
    min-width: 24px;
    line-height: 18px;
  }

  @include media-breakpoint-down(md) {
    justify-content: left;
  }
}
