@import "../../../../../../../vendor/npm-asset/bootstrap/scss/tables";

.payment-button-item {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.system-messages {
  .error-msg {
    margin-right: 10px;
  }
}

.checkout-section-title {
  margin-bottom: 20px;
}

.checkout-section-title-line {
  margin: 0 0 20px 0;
}

.cart-table {

  @extend .table;
  @extend .table-striped;
  @extend .table-responsive-sm;

  font-size: .9rem;

  > tbody > tr > td,
  > thead > tr > td,
  > tfoot > tr > td {
    padding: .5rem;
  }

  > thead > tr > th,
  > tbody > tr > th {
    padding: .75rem .5rem;
  }

  background-color: #fff;
  border-bottom: 1px solid $table-border-color;

  > tbody > tr > td,
  > thead > tr > td,
  > tfoot > tr > td {
    vertical-align: middle !important;

    &.photo {
      padding-top: 2px;
      padding-bottom: 2px;

      .cart-line-photo {
        max-width: 100px;
      }

      .badge {
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    &.price {
      font-size: 16px;
      padding: 7px 8px;
    }

    &.title {
      > strong {
        font-size: .8rem;
        letter-spacing: .4px;
      }
    }
  }

  > thead > tr > th {
    border-top: 3px solid $color-pink !important;
  }

  > tfoot > tr:first-child {
    border-top: 2px solid $table-border-color;
  }
  .grand-total {
    font-size: 20px;
    color: $brand-inverse;
    font-weight: bold;
  }

  > tbody > tr.loading > td {
    opacity: .2;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
  }

  .order-item-options {
    margin-bottom: 0;
    tr {
      background-color: transparent !important;
    }
    th, td {
      padding: 0 0.1rem;
    }
    .badge {
      position: relative;
      top: -2px;
      text-transform: uppercase;
      padding-top: 5px;
    }
  }
}


#promotion-code-form {
  .form-wrapper {
    .btn {
      float: right;
    }
    .field-container {
      float: right;
      margin-right: 10px;
      > input {
        min-width: 200px;
        font-size: 0.9rem;
      }
    }
  }
}

.check-login {
  text-align: center;
  padding: 30px 0 15px 0;

  h5 {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .btn {
    text-transform: uppercase;
    padding: 8px 30px;
    border-width: 2px;
  }

  p {
    margin: 15px 0;
  }
}

.shipping-box {
  .not-available {
    font-size: .9rem;
  }

}

