
$color-dp-border: #333;
$color-dp-enabled: #dee2e6;
$color-dp-active: #727780;
$color-dp-disabled: darken($color-dp-active, 20%);
$color-dp-weekend: #dc3545;
$color-dp-weekend-disabled: darken($color-dp-weekend, 25%);

$timepicker-border-radius: .5rem;

.datepicker-inline {

  .datepicker,
  .timepicker {
    margin-top: 20px;
    border: 1px solid $color-dp-border;

    table {
      td, th {
        border-radius: 0;
      }
    }
  }


  .datepicker {

    .day {
      border: 1px solid $color-dp-border;
      //border: 1px solid transparent;
      color: $color-dp-enabled;
      &.active {
        color: $color-dp-active;
      }
      &:hover:not(.disabled) {
        color: $color-dp-active;
        &.weekend {
          color: $color-dp-weekend;
        }
      }

      &.weekend {
        color: $color-dp-weekend;
      }

      &.disabled {
        color: $color-dp-disabled;
        &.weekend {
          color: $color-dp-weekend-disabled;
        }
      }

      &:not(.disabled) {
        border: 1px solid $color-dp-border;
      }
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }

    table tr:last-child .day {
      border-bottom: none;
    }

  }

  .timepicker {

    a[data-action] {
      padding: 0;
      border-radius: $timepicker-border-radius;
      border: 1px dashed $color-dp-border;
      i {
        margin: 0;
        border-radius: $timepicker-border-radius;
      }
    }

    .timepicker-hour, .timepicker-minute {
      border-radius: $timepicker-border-radius;
    }

    .hour, .minute {
      color: $color-dp-enabled;
      &.disabled {
        color: $color-dp-disabled;
      }
      &:hover:not(.disabled), &.active {
        color: $color-dp-active;
      }
    }
  }

}



