

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical {
  a.asc:after {
    content: "\e153";
  }
  a.desc:after {
    content: "\e154";
  }
}

.sort-ordinal {
  a.asc:after {
    content: "\e155";
  }
  a.desc:after {
    content: "\e156";
  }
}

.grid-view {
  td {
    white-space: nowrap;
  }

  .filters input,
  .filters select {
    min-width: 50px;
  }
}


.not-set {
  color: $brand-danger;
  font-style: italic;
}
