


.navbar {
  padding-left: 0;
  padding-right: 0;

  .nav-link {
    padding: .8rem 1.2rem;
    border-bottom: 1px solid darken($gray-800, 3%);
  }
  .navbar-visible {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1.2rem;
  }
  .navbar-collapse {
    position: relative;
    top: 8px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0;
    height: $navbar-height;
    line-height: $navbar-height;

    &.navbar-expand-lg .navbar-nav .nav-link {
      padding: 0 1rem;
    }
    .navbar-visible {
      width: initial;
      padding-left: 0;
    }
    .navbar-collapse {
      top: 0;
    }
    .nav-link {
      border-bottom: none;
    }
  }

  &.navbar-dark {
    .nav-link {
      color: $gray-lighter;
      &:hover {
        background-color: darken($gray-800, 5%);
        color: $white;
      }
    }
  }
}


.head-panel.dark,
.right-panel.dark,
.navbar-dark {
  .cart-widget {
    .cart-widget-label {
      color: $gray-500;
    }
    .item-count {
      background-color: $gray-900;
    }
    &:hover {
      .cart-widget-label {
        color: $gray-200;
      }
      .item-count {
        background-color: $black;
      }
    }
  }
}

.head-panel,
.navbar {

  .brand {
    color: #fff;
  }

  .btn-link {
    color: $gray-500;
    &:hover {
      color: $gray-200;
    }
  }
  .nav {
    li > form > button.logout {
      padding: 15px;
      border: none;

      &:focus,
      &:hover {
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }

      @media(max-width:767px) {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
      }
    }
  }
}
