
.jumbotron {
  text-align: center;
  background-color: transparent;
  margin-bottom: 0;

  h1, h2 {
    margin-bottom: 40px;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

#hero {
  margin-top: -15px;
  .carousel-item {
    height: $hero-carousel-height-sm;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      height: $hero-carousel-height;
    }

    > img {
      object-fit: cover;
      height: 100%;
    }

    &:after {
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      opacity: 0.6;
    }
  }

  .btn {
    text-transform: uppercase;
    padding: 15px 20px;
    border-width: 2px;
    margin: .5rem;
  }
}

