

#payment-return {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include media-breakpoint-up(lg) {
    min-height: 60vh;
  }

  ion-icon {
    --ionicon-stroke-width: 24px;
    font-size: 128px;
  }

  .card-body {
    text-align: center;
    padding: 30px;

    > h6 {
      color: $gray-dark;
      margin-bottom: 30px;
    }

    > .btn {
      margin-bottom: 30px;
    }
  }
}




