
// Used in shop pages
.shop-item {

  figure {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;

    img {
      @include transition(opacity .35s);
    }

    .overlay-block {
      opacity: 0;
      //@include transform(translateY(-40px));
      @include transition(opacity .35s, transform .35s);
      margin: 0 20px;

      .cart-btn-form {
        margin-right: 10px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .product-inactive-info {
      background-color: $gray-dark;
      color: $gray-300;
      padding: 10px;
      @include border-radius(3px);
    }

    .shop-item-button,
    .cart-btn-form {
      opacity: 0;
      @include transform(translateY(100px));
      @include transition(opacity .35s, transform .35s);

      .cart-btn {
        padding: .8rem .2rem;
        min-width: 80px;
        > i {
          font-size: 1rem;
        }
        &.wishlist-btn {
          min-width: 50px;
        }
      }
    }


    &:hover {
      img { opacity: .5; }

      .overlay-block {
        @include transform(translateY(0));
        opacity: 1;
      }

      .shop-item-button,
      .cart-btn-form {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

  }

  .card-title {
    margin-bottom: 10px;
  }
  .card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .product-price {
    margin-bottom: 10px;
    text-align: center;
    .product-prev-price-item {
      text-decoration: line-through;
      margin-right: 10px;
    }
    .product-price-item {
      color: $color-pink;
    }
  }

  h6 {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 30px;
  }
  .card-text {
    color: $gray-light;
    font-size: .8rem;
  }

  //min-height: 410px;
}
