

.login-page,
.signup-page,
.request-password-reset,
.reset-password {

  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding-bottom: 20px;
  padding-top: 0;
  height: 100%;

  @include media-breakpoint-up(lg) {
    min-height: 65vh;
  }

  .card {
    border-radius: 0;
    padding: 30px;
    margin: 20px;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      margin-bottom: 0;
    }

    @include media-breakpoint-up(sm) {
      margin-left: 0;
      margin-right: 0;
      width: 400px;
    }

    @include media-breakpoint-down(md) {
      padding: 20px 15px;
      margin: 0;
    }

    > h2, > p {
      text-align: center;
    }

    > h2 {
      color: $gray-dark;
    }
  }

  .btn {
    width: 100%;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 1.6;
  }
}
