@import "../../../../../vendor/npm-asset/bootstrap/scss/functions";
@import "../../../../../vendor/npm-asset/bootstrap/scss/variables";
@import "../../../../../vendor/npm-asset/bootstrap/scss/mixins";

@import "scss/container";
@import "scss/mixins";
@import "scss/variables";
@import "scss/width";
@import "scss/height";
@import "scss/typography";
@import "scss/buttons";
@import "scss/borders";
@import "scss/margins";
@import "scss/padding";

@import "scss/components/pagination";
@import "scss/components/header";
@import "scss/components/campaign";
@import "scss/components/cart";
@import "scss/components/payment-return";
@import "scss/components/signup";
@import "scss/components/grid";
@import "scss/components/hero";
@import "scss/components/shop";
@import "scss/components/checkout";
@import "scss/components/footer";

html,
body {
   min-height: 100vh;
}

body {
  .wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .container {
      position: relative;
      padding: 15px 15px 20px;
    }
  }

  &.push-menu .wrap > .container {
    padding: 85px 15px 20px;
  }
}

.main-alert {
  position: absolute;
  top: 90px;
  left: 15px;
  right: 15px;
  z-index: 1;
}

.breadcrumb {
  font-size: .9em;
}

.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100%;
  left: 50%;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.ripple-effect.pink {
  background: rgba(239, 64, 86, 0.5);
}

.custom-control-label {
  display: flex;
}

.iti {
  display: block;
}

