
// Font family
.tx-serif         { font-family: $font-family-serif; }
.tx-sans-serif    { font-family: $font-family-sans-serif; }

// Font weights
.tx-bold      { font-weight: 700; }
.tx-semibold  { font-weight: 600; }
.tx-medium    { font-weight: 500; }
.tx-normal    { font-weight: 400; }
.tx-light     { font-weight: 300; }
.tx-thin      { font-weight: 200; }
.tx-xthin     { font-weight: 100; }

.tx-bold-force      { font-weight: 700 !important; }
.tx-semibold-force  { font-weight: 600 !important; }
.tx-medium-force    { font-weight: 500 !important; }
.tx-normal-force    { font-weight: 400 !important; }
.tx-light-force     { font-weight: 300 !important; }
.tx-thin-force      { font-weight: 200 !important; }
.tx-xthin-force     { font-weight: 100 !important; }

// Font colors
.tx-black           { color: #000 !important; }
.tx-inverse         { color: $gray-dark !important; }
.tx-gray-dark       { color: $gray-800 !important; }
.tx-gray            { color: $gray-600 !important; }
.tx-gray-light      { color: $gray-500 !important; }
.tx-gray-lighter    { color: $gray-400 !important; }
.tx-gray-lightest   { color: $gray-300 !important; }
.tx-primary         { color: $brand-primary !important; }
.tx-success         { color: $brand-success !important; }
.tx-warning         { color: $brand-warning !important; }
.tx-danger          { color: $brand-danger !important; }
.tx-info            { color: $brand-info !important; }
.tx-maroon          { color: $color-maroon !important; }
.tx-pink            { color: $color-pink !important; }
.tx-pink-light      { color: $color-pink-light !important; }
.tx-yellow          { color: $color-yellow !important; }
.tx-orange          { color: $color-orange !important; }
.tx-indigo          { color: $color-indigo !important; }
.tx-indigo-light    { color: $color-indigo-light !important; }
.tx-teal            { color: $color-teal !important; }
.tx-turquiose       { color: $color-turquiose !important; }
.tx-flesh           { color: $color-flesh !important; }

// Text white
.tx-white           { color: #fff !important; }
.tx-white-9         { color: rgba(#fff, 0.9); }
.tx-white-8         { color: rgba(#fff, 0.8); }
.tx-white-7         { color: rgba(#fff, 0.7); }
.tx-white-6         { color: rgba(#fff, 0.6); }
.tx-white-5         { color: rgba(#fff, 0.5); }
.tx-white-4         { color: rgba(#fff, 0.4); }
.tx-white-3         { color: rgba(#fff, 0.3); }
.tx-white-2         { color: rgba(#fff, 0.2); }
.tx-white-1         { color: rgba(#fff, 0.1); }

// Font spacing
.tx-spacing-1 { letter-spacing: 0.5px; }
.tx-spacing-2 { letter-spacing: 1px; }
.tx-spacing-3 { letter-spacing: 1.5px; }
.tx-spacing-4 { letter-spacing: 2px; }
.tx-spacing-5 { letter-spacing: 2.5px; }
.tx-spacing-6 { letter-spacing: 3px; }
.tx-spacing-7 { letter-spacign: 3.5px; }
.tx-spacing-8 { letter-spacing: 4px; }

.tx-spacing-neg-1 { letter-spacing: -0.5px; }
.tx-spacing-neg-2 { letter-spacing: -1px; }
.tx-spacing-neg-3 { letter-spacing: -1.5px; }
.tx-spacing-neg-4 { letter-spacing: -2px; }
.tx-spacing-neg-5 { letter-spacing: -2.5px; }
.tx-spacing-neg-6 { letter-spacing: -3px; }
.tx-spacing-neg-7 { letter-spacing: -3.5px; }
.tx-spacing-neg-8 { letter-spacing: -4px; }

// Others
.tx-shadow { text-shadow: 1px 1px 3px rgba(0,0,0,0.3); }

.tx-uppercase { text-transform: uppercase !important; }
.tx-lowercase { text-transform: lowercase !important; }
.tx-transform-none { text-transform: none !important; }

.tx-center { text-align: center !important; }
.tx-right { text-align: right !important; }
.tx-left { text-align: left !important; }

.tx-style-italic { font-style: italic !important; }
.tx-style-normal { font-style: normal !important; }

// Line Height
.lh-base   { line-height: $line-height-base; }
.lh-normal { line-height: normal; }

.lh-0 { line-height: 0; }
.lh-1 { line-height: 1.1; }
.lh-2 { line-height: 1.2; }
.lh-3 { line-height: 1.3; }
.lh-4 { line-height: 1.4; }
.lh-5 { line-height: 1.5; }
.lh-6 { line-height: 1.6; }
.lh-7 { line-height: 1.7; }
.lh-8 { line-height: 1.8; }
.lh-9 { line-height: 1.9; }
.lh-10 { line-height: 2.0; }
.lh-11 { line-height: 2.1; }
.lh-12 { line-height: 2.2; }
.lh-13 { line-height: 2.3; }
.lh-14 { line-height: 2.4; }
.lh-15 { line-height: 2.5; }

.lh--9 { line-height: 0.9; }
.lh--8 { line-height: 0.8; }
.lh--7-5 { line-height: 0.75; }

// Vertical align
.valign-top { vertical-align: top !important; }
.valign-middle { vertical-align: middle !important; }
.valign-bottom { vertical-align: baseline !important; }
.valign-text-top { vertical-align: text-top !important; }
.valign-text-bottom { vertical-align: text-bottom !important; }
.valign-sub { vertical-align: sub !important; }
.valign-super { vertical-align: super !important; }

// Font sizes
.display-5 {
  font-size: 3rem;
  font-weight: 300;
}

.tx-size-base {
  font-size: $font-size-base ;
  line-height: $line-height-base;
}

.tx-size-sm {
  font-size: $font-size-sm;
  line-height: 1.6;
}

.tx-size-xs {
  font-size: $font-size-xs;
  line-height: 1.5;
}

.tx-size-lg { font-size: $font-size-lg; }

@mixin font-size($num, $viewport:"") {
  @if $viewport == "" {
    $viewport: "-";
  } @else {
    $viewport: "-" + $viewport + "-";
  }

  .tx-size#{$viewport}#{$num} { font-size: #{$num}px; }
  .tx-size#{$viewport}#{$num}-force { font-size: #{$num}px !important; }
}

@mixin do-font-size($viewport) {
  $num: 8;
  @while $num <= 16 {
    @include font-size($num,$viewport);
    $num: $num + 1;
  }

  $num: 18;
  @while $num <= 140 {
    @include font-size($num,$viewport);
    $num: $num + 2;
  }
}

@mixin do-font-breakpoint($viewport) {
  .tx-#{$viewport}-bold      { font-weight: 700; }
  .tx-#{$viewport}-semibold  { font-weight: 600; }
  .tx-#{$viewport}-medium    { font-weight: 500; }
  .tx-#{$viewport}-normal    { font-weight: 400; }
  .tx-#{$viewport}-light     { font-weight: 300; }
  .tx-#{$viewport}-thin      { font-weight: 200; }
  .tx-#{$viewport}-xthin     { font-weight: 100; }

  .lh-#{$viewport}-0 { line-height: 0; }
  .lh-#{$viewport}-1 { line-height: 1.1; }
  .lh-#{$viewport}-2 { line-height: 1.2; }
  .lh-#{$viewport}-3 { line-height: 1.3; }
  .lh-#{$viewport}-4 { line-height: 1.4; }
  .lh-#{$viewport}-5 { line-height: 1.5; }
  .lh-#{$viewport}-6 { line-height: 1.6; }
  .lh-#{$viewport}-7 { line-height: 1.7; }
  .lh-#{$viewport}-8 { line-height: 1.8; }
  .lh-#{$viewport}-9 { line-height: 1.9; }
  .lh-#{$viewport}-10 { line-height: 2.0; }
  .lh-#{$viewport}-11 { line-height: 2.1; }
  .lh-#{$viewport}-12 { line-height: 2.2; }
  .lh-#{$viewport}-13 { line-height: 2.3; }
  .lh-#{$viewport}-14 { line-height: 2.4; }
  .lh-#{$viewport}-15 { line-height: 2.5; }

  .tx-#{$viewport}-white { color: #fff !important; }
  .tx-#{$viewport}-inverse { color: $gray-dark !important; }
  .tx-#{$viewport}-gray { color: $gray !important; }

  .tx-spacing-#{$viewport}-2 { letter-spacing: 1px; }
  .tx-spacing-#{$viewport}-4 { letter-spacing: 2px; }
  .tx-spacing-#{$viewport}-6 { letter-spacing: 3px; }
  .tx-spacing-#{$viewport}-8 { letter-spacing: 4px; }

  .tx-spacing-#{$viewport}-neg-2 { letter-spacing: -1px; }
  .tx-spacing-#{$viewport}-neg-4 { letter-spacing: -2px; }
  .tx-spacing-#{$viewport}-neg-6 { letter-spacing: -3px; }
  .tx-spacing-#{$viewport}-neg-8 { letter-spacing: -4px; }

  .tx-#{$viewport}-center { text-align: center; }
  .tx-#{$viewport}-right { text-align: right; }
  .tx-#{$viewport}-left { text-align: left; }

  .tx-#{$viewport}-center-force { text-align: center !important; }
  .tx-#{$viewport}-right-force { text-align: right !important; }
  .tx-#{$viewport}-left-force { text-align: left !important; }
}

$num: 8;
@while $num <= 16 {
  @include font-size($num);
  $num: $num + 1;
}

$num: 18;
@while $num <= 140 {
  @include font-size($num);
  $num: $num + 2;
}

@media (min-width: 480px) {
  @include do-font-size("xs");
  @include do-font-breakpoint("xs");
}

@include media-breakpoint-up(sm) {
  @include do-font-size("sm");
  @include do-font-breakpoint("sm");
}

@include media-breakpoint-up(md) {
  @include do-font-size("md");
  @include do-font-breakpoint("md");
}

@include media-breakpoint-up(lg) {
  @include do-font-size("lg");
  @include do-font-breakpoint("lg");
}

@include media-breakpoint-up(xl) {
  @include do-font-size("xl");
  @include do-font-breakpoint("xl");
}
