// Here is where the magic happens

$offset: 130;
$duration: 2s;

.circular-spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
          dash $duration ease-in-out infinite,
          colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #333; }
  100% { stroke: #666; }

  //0% { stroke: #4285F4; }
  //25% { stroke: #DE3E35; }
  //50% { stroke: #F7C223; }
  //75% { stroke: #1B9A59; }
  //100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}

.spinner {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f3f3f3;
  font-size:18px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.95; //0.96;

  &:before {

    position: relative;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
  }

  > .fa-spin {
    position: relative;
    color: #666;
    font-size: 40px;
    top:50%;
    transform:translate(-50%,-50%);
    margin-top: -15px;
  }

  > .spinner-center {
    position: relative;
    //color: #666;
    //font-size: 40px;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    //margin-top: -20px;
    width: 42px;
    height: 42px;

    &.fixed {
      position: fixed;
    }

    .loading-text {
      font-size: 12px;
      text-align: center;
      position: absolute;
      white-space: nowrap;
      bottom: -40px;
      left: 25px;
      transform:translate(-50%,-50%);
    }
  }
}

.loading > .spinner {
  display: block;
}