.circular-spinner {
  animation: rotator 2s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 130;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 2s ease-in-out infinite, colors 8s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #333;
  }
  100% {
    stroke: #666;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 130;
  }
  50% {
    stroke-dashoffset: 32.5;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 130;
    transform: rotate(450deg);
  }
}
.spinner {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #f3f3f3;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.95;
}
.spinner:before {
  position: relative;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
}
.spinner > .fa-spin {
  position: relative;
  color: #666;
  font-size: 40px;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -15px;
}
.spinner > .spinner-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
}
.spinner > .spinner-center.fixed {
  position: fixed;
}
.spinner > .spinner-center .loading-text {
  font-size: 12px;
  text-align: center;
  position: absolute;
  white-space: nowrap;
  bottom: -40px;
  left: 25px;
  transform: translate(-50%, -50%);
}

.loading > .spinner {
  display: block;
}

/*# sourceMappingURL=spinner.css.map */
