
.ripple-effect {
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  transition: .25s ease-in-out;
  z-index: 1000;

  &.light {
    background: rgba(255, 255, 255, 0.5);
  }
  &.dark {
    background: rgba(0, 0, 0, 0.5);
  }

  &.ripple-animate {
    animation: ripple-mo 1s cubic-bezier(0, 0, 0.2, 1);
  }
  @keyframes ripple-mo {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(10);
      opacity: 0;
    }
  }
}



